<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Quora Posts</h1>
    <% for(post of posts) {%>
        <div class="post">
            <h3 class="user">@<%=post.username%></h3>
            <h4><%=post.content%></h4>
             <br>
             <a href="http://localhost:8080/posts/<%=post.id%>">Show this post</a>
                      <a href="http://localhost:8080/posts/<%=post.id%>/edit">Edit</a>
                      <br> <br>

                        <!-- Delete button -->
    <form method="POST" action="/posts/<%= post.id %>?_method=DELETE">
      <button type="submit">Delete post</button>
    </form>
        </div>
        <%}%>
        <br>
        <br>
        <a href="http://localhost:8080/posts/new">Create new post</a>

           <br> <br>   <br> <br>   <br> <br>
       
           
        
</body>
</html>